*{
    margin: 0;
    padding: 0; 
    font-family: "Poppins", sans-serif;
  }  

  .header{
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(rgba(226, 172, 158, 0.7),rgba(226, 172, 158, 0.7)), 
    url(images/librarybooks.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}  

h1
{
    font-size: 34px;
    margin-left: 20px;
   font-weight: 700;
   padding-top: 50px;
   padding-bottom: 0px; 
   padding-left: 20px;
   color: #fff;
} 

nav
{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    flex: 1;
    text-align: right;
} 

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 


.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
} 

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;  
    transition: 0.5s;
    
}  

.nav-links ul li:hover::after{
    width: 100%;
} 

  .table-container
  {
    padding: 32px;
  } 

  .table-container h2.table-heading
  {
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 32px;
      border-bottom: 1px solid rgb(238, 207, 207);
      padding-bottom: 8px;
      border-radius: 10px;
      box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.4);
  }

  .table-container table
  {
      width: 100%;
      background: rgb(247, 242, 242);  
      color: black;
      padding: 24px;
      box-shadow: 0 4px 15px -8px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      border-collapse: collapse;
  } 

  .table-container table thead tr
  {
      background: rgba(226, 172, 158, 0.7); 
      border-radius: 10px;
     
  } 

    .table-container table td, 
    .table-container table th
    {
        padding: 16px 32px;
        text-align: center; 
       
    }

    .table-container table tr
    {
        border-bottom: 1px solid rgb(238, 207, 207);
    } 

    @media(max-width:700px)
    {
        .table-container table thead
        {
            display: none;
        }

        .table-container table td
        {
            display: block;
        }

        .table-container table td::before
        {
            content: attr(data-heading) ": ";
            font-weight: bold;
        }
    }